html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tela {
  min-height: 100vh; /* ocupa 100% da altura da viewport */
  width: 100%;
  background-color: #e8ebe5;
  display: flex;
  

  justify-content: center;
  align-items: center;   
  flex-direction: column;  
}

.tela .container{
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 2vh;
}


.tela .container .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  transform: translateY(-15px); /* ajusta a altura que quiser */
}


.tela .container .logo img{
  width: 200px;
  height: 200px;

  animation: flutuar 5s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* sobe um pouco */
  }
  100% {
    transform: translateY(0); /* volta */
  }
}




.tela .container .form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-60px);
  gap: 2vh;
}

.tela .container h1{
  display: flex;
  justify-content: center;
  font-size: 35px;
  transform: translateY(-35px);
}

input {
    border: 1px solid #ccc;
    outline: none; /* remove o contorno padrão do navegador */
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s;
    width: 30vh;
    transform: translateY(30px);
}

input:focus {
  border-color: #c00;
}


button {
  background-color: #d33;  
  color: white;  
  border: none;            
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;      
  transition: background 0.3s ease;
  transform: translateY(-10px);
}

button:hover {
  background-color: #b22;
}

.Cad-vendedor{
    background-color: rgb(250, 126, 18);
}

.Cad-vendedor:hover {
  background-color: rgb(215, 114, 25);
}